extends layout

block content
    h1 Грантовая поддержка
    div(class='card-container')
        div(class='block product')
            span(class='title') Внедрение искусственного интеллекта
            p Гранты от 20 млн до 100 млн рублей на реализацию пилотных проектов апробации технологий искусственного интеллекта в приоритетных отраслях

        div(class='block product')
            span(class='title') Внедрение цифровых технологий
            p Гранты от 20 млн до 700 млн рублей на реализацию особо значимых проектов пилотного внедрения российских решений в сфере информационных технологий
            
        div(class='block product')
            span(class='title') Создание дизайн-центров микроэлектроники
            p Программа поддержки средних и малых дизайн-центров микроэлектроники, реализующих НИОКР в приоритетных направлениях развития электронной промышленности России
        
        div(class='block product')
            span(class='title') Инвестиции бизнес-ангелов
            p Возмещение инвестиций физических лиц в участников проекта «Сколково»
            
        div(class='block product')
            span(class='title') Инвестиции в университетские стартапы
            p Возмещение инвестиций в университетские стартапы в рамках федпроекта «Платформа университетского технологического предпринимательства»
          
        div(class='block product')
            span(class='title') Микрогранты
            p Программа поддержки исследовательской деятельности, разработки и коммерциализации продуктов
                            участников проекта «Сколково»
        
       

            
