extends layout

block content
    div(class='login-container')
        h1 Вход в систему
        form(action='login/password' method='post' class="login-form")
            section
                label(for='username') Логин:
                input(id='username' name='username' type='text' autocomplete='логин' required='' autofocus='')
            section
                label(for='current-password') Пароль:
                input(id='current-password' name='password' type='password' autocomplete='пароль' required='')
            button(type='submit') Войти
        a(href="/signup" style="font: 20px Arial, sans-serif; margin-top: 1em;") Зарегистрироваться
    