extends layout

block content
    h1 Сервисы Сколково
    div(class='card-container')
        div(class='block product')
            span(class='title') Таможенное декларирование
            p Таможенное декларирование, в том числе с возможностью   оплаты ввозной таможенной пошлины и НДС из средств субсидий

        div(class='block product')
            span(class='title') Менторская программа
            p Услуга резидентам Фонда «Сколково» в поиске ментора и взаимодействии с ним. Мы поможем Вам найти подходящего наставника из перечня менторов Фонда «Сколково» и назначить с ним встречу. 
            
        div(class='block product')
            span(class='title') Школа стартапов Skolkovo
            p Школа стартапов – акселератор для стартапов стадии pre-seed, seed.
        
        div(class='block product')
            span(class='title') Экспертиза проектов
            p Сервис научно-технологической и бизнес экспертизы любых, в том числе инновационных, проектов, с целью получения независимой оценки и поддержки принятия финансовых и инвестиционных решений.
            
        div(class='block product')
            span(class='title') Зарубежные бизнес-миссии
            p Организация отраслевых B2B и B2G встреч с потенциальными партнёрами в рамках международного мероприятия или выезда в целевую страну.
          
        div(class='block product')
            span(class='title') Патентование в РФ и за рубежом
            p Патентование ваших разработок в России и за рубежом обеспечивает защиту технологии и эксклюзивные права на ключевых рынках сбыта, увеличивает стоимость нематериальных активов и капитализацию вашей компании, подтверждает мировую новизну и уникальность разработки, пресекает незаконную конкуренцию.
        
       

            
