extends layout

block content
    div(class='login-container')
        h1 Регистрация
        form(action='signup' method='post' class='login-form')
            section
                label(for='username') Логин:
                input(id='username' name='username' type='text' autocomplete='логин' required='' autofocus='')
            section
                label(for='current-password') Пароль:
                input(id='current-password' name='password' type='password' autocomplete='пароль' required='')
            button(type='submit')Зарегистрироваться
    